/* Main background and font family */

body {
    background: url(../img/background.svg) no-repeat center center fixed;
    background-color: #25072e;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

/* Screen reader only */

.screen-reader-only{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Main container property */

.main-container {
    margin: 0 50px 0 230px;
}

/* General size property for all section */

.content-section {
    max-width: 100vw;
    min-height: 100vh;
}

/* General fonts properties*/

.main-title-font {
    font-size: 28px;
    font-weight: 700;
    color: #ec008c;
    text-transform: uppercase;
    letter-spacing: 4.5px;
    margin: 110px 0 60px 0;
}

.main-subtitle-font {
    font-size: 15px;
    font-weight: 700;
    color: #ccc8ff;
    letter-spacing: 3.8px;
    text-transform: uppercase;
}

.menu-font {
    font-size: 13px;
    font-weight: 700;
    color: #ec008c;
    letter-spacing: 6.7px;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0.8;
}

.first-content-font {
    font-size: 13px;
    font-weight: 400;
    color: #ccc8ff;
    letter-spacing: 1.5px;
    opacity: 0.8;
}

.second-content-font {
    font-size: 13px;
    font-weight: 400;
    color: #ccc8ff;
    letter-spacing: 3.5px;
    opacity: 0.5;
}

.button-font {
    font-size: 12px;
    font-weight: 400;
    color: #ccc8ff;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    opacity: 0.8;
}

/* General buttons properties*/

.btn {
    display: inline-block;
    background: #ccc8ff;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 12px 10px 10px 10px;
    background: rgb(204, 200, 255, 0.1); 
}

/* Header with main image and navigation */

.page-header {
    position: fixed;
}

.page-header__logo-image {
    margin: 50px 0 0 50px;
}

.page-navigation__items {
    margin: 25px 0 0 50px;
}

.page-navigation__item {
    margin: 15px 0 0 0;
}

/* Footer with social icons */

.page-footer {
    position: fixed;
    bottom: 0;
}

.page-social-icons {
    margin: 0 0 50px 50px;
}

.page-social-icons__item {
    margin: 15px 0 0 0;
}

.page-social-icons__item-content {
    display: block;
    text-indent: -9999px;
    width: 20px;
    height: 20px;
}

.facebook-svg-icon {
    background: url(../img/fb.svg);
    background-size: 20px 20px;
    opacity: 0.8;
}

.instagram-svg-icon {
    background: url(../img/insta.svg);
    background-size: 20px 20px;
    opacity: 0.8;
}

.last-svg-icon {
    background: url(../img/last.svg);
    background-size: 20px 20px;
    opacity: 0.8;
}

.youtube-svg-icon {
    background: url(../img/yout.svg);
    background-size: 20px 20px;
    opacity: 0.8;
}

/* Main section */

.section-main__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    min-height: 100vh;
}

.section-main__content {
    margin: 0 230px 0 0;
}

.section-main__content-item {
    margin: 45px 0 0 0;
}

.section-main__artist-name {
    margin: 40px 0 0 0;
}

.section-main__description {
    margin: 10px 0 0 0;
}

/* Section about */

.section-about {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 0 -245px 0;
}

.section-about__photo {
    width: 790px;
    height: 520px;
    border-top: 3px #ec008c solid;
}

.section-about__text {
    width: 395px;
    min-height: 370px;
    background: #25072e;
    border-bottom: 3px #ec008c solid;
    position: relative;
    bottom: 245px;
    right: 690px;
    box-sizing: border-box;
    padding: 45px 35px;
}

.section-about__subtitle {
    margin: 0 0 10px 0;
}

.section-about__description {
    margin: 30px 0 0 0;
    line-height: 18px;
}

/* Section concerts */

.section-concerts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.section-concerts__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.section-concerts__item {
    margin: 0 0 50px 60px;
}

.section-concerts__photo {
    width: 360px;
    height: 240px;
    border-bottom: 3px #ec008c solid;
}

.section-concerts__wrapper {
    display: flex;
    justify-content: space-between;
}

.section-concerts__date {
    margin: 20px 0 0 0;
}

.section-concerts_description {
    margin: 8px 0 0 0;
}

.section-concerts__button {
    margin: 20px 0 0 0;
    cursor: pointer;
}

/* Section video */

.section-video {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.section-video__music-video {
    width: 968px;
    height: 544px;
    border-top: 3px #ec008c solid;
}

/* Section gallery */

.section-gallery {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.section-gallery__row{
    display: flex;
    flex-wrap: wrap;
}

.section-gallery__item {
    width: 300px;
    height: 200px;
    border-top: 3px #ec008c solid;
    margin: 0 0 20px 20px;
}

/*Section contact */

.section-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.setion-contact__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.section-contact__photo {
    width: 465px;
    height: 310px;
}

.section-contact__contact-details {
    line-height: 20px;
    margin: 0 150px 0 0;
}

.section-contact__phone-number {
    font-style: normal;
}

.section-contact__email {
    font-style: normal;
}

.section-contact__form {
    margin: 20px 740px 0 0;
}

.section-contact__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.section-contact__button {
    width: 120px;
    height: 20px;
    border-radius: 3px;
    margin: 30px 0 0 0;
    cursor: pointer;
}